@keyframes sliding-block {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin block-animation($color, $margin) {
    // Defines the intro block animation
    width: 0%;
    height: inherit;
    background: $color;
    position: absolute;
    animation: sliding-block 1s cubic-bezier(.74, .06, .4, .92) forwards;
    display: flex;
    margin-top: $margin;
}

@mixin header-positioning($height, $margin-top) {
    // Defines the positioning of the title and subtitle
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
    margin-top: $margin-top;
}

@mixin header-text($font-size, $delay, $mobile-font-size) {
    // Styles the primary title and subtitle
    font-family: 'Georgia';
    font-size: $font-size;
    -webkit-animation: fade-in 1s forwards;
    -o-animation: fade-in 1s forwards;
    animation: fade-in 1s forwards;
    animation-delay: $delay;
    opacity: 0;
    z-index: -1;
    @media (max-width: 720px) {
        font-size: $mobile-font-size;
    }
}

#chris-greening {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    color: white;
    .box {
        height: 250px;
        position: relative;
        display: flex;
        flex-direction: column;
        .title {
            @include header-positioning(64px, 100px);
            .block {
                @include block-animation(#ffb510, -20px);
            }
            h1 {
                @include header-text(72px, 0.8s, 40px);
            }
        }
        .subtitle {
            @include header-positioning(30px, 10px);
            .block {
                @include block-animation(#e91e63, -40px);
                animation-delay: 1s;
            }
            p {
                @include header-text(32px, 1.6s, 20px);
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
        }
    }
}