@import "modules/_glitch-effects";
@import "modules/primary-text";
@import "modules/night-mode";
@import "font-awesome/fa-regular";
@import "font-awesome/fa-solid";

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: fade-in 1s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

body {
  background-color: black;
}

section {
  width: 100%;
}

.masthead {
  // background-color: transparent;
  display: none;
}

a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}


#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 74px;
  li {
    width: 100px;
    list-style: none;
    .nav-link {

      font-family: "Georgia";
      color: white;
      position: relative;
      animation: fade-in 1s forwards;
      animation-delay: 1.6s;
      opacity: 0;
      font-size: 16px;
      text-decoration: none;
    }

    .nav-link:visited {
      color: white;
      text-decoration: none;
    }

    .nav-link:hover {
      text-decoration: none!important;
    }

    .nav-link:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: red;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    .nav-link:hover:after {
      width: 100%;
      left: 0;
    }
  }
}

#stats {
  position: absolute;
  left: auto !important;
  right: 0px;
}

#main {
  margin: 0px;
  padding: 0px;
  @media (min-width: 80em) {
    max-width: 100%;
  }
}

#footer {
  background-color: transparent;
  animation: fade-in 1s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}