@import "modules/_glitch-effects";
@import "modules/header-animation";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  background-color: black;
  font-family:Helvetica,Arial;
}

#stats {
  position: absolute;
  left: auto !important;
  right: 0px;
}

@media (min-width: 80em) {
  #main {
      max-width: 100%;
  }
}

#main {
  margin: 0px;
  padding: 0px;
}

.masthead {
  display: none;
}

section {
  width: 100%;
}

#footer {
  background-color: transparent;
  animation: fade-in 1s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

.instructions {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia;
  animation: fade-in 1s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  @media (max-width: 720px) {
    font-size: 12px;
  }
}

#instructions-text {
  @media (max-width: 480px) {
    display: none;
  }
}

#canvas {
  animation: fade-in 1s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

#nightmode {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  color: white;
}

.lightmode {
  animation: darkToLight 1s ease;
  animation-fill-mode:forwards;
}

.darkmode {
  animation: lightToDark 1s ease;
  animation-fill-mode:forwards;
}

@keyframes darkToLight {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}

@keyframes lightToDark {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: black;
    color: white;
  }
}

#music-credit {
  display: none;
  font-size: 12px;
}